<form > 
    <div class="card flex justify-content-center">
        <p-card header="Login"  [style]="{width:'360px'}">


            <div class="field">
                <input type="text"
                 pInputText     
                 formControlName="usuario" 
                 class="w-full" 
                 name="usuario" 
                 placeholder="nombre de usuario"
                 />

            </div>

            <div class="field">
                <input type="text"
                 pInputText     
                 formControlName="password" 
                 class="w-full" 
                 name="password" 
                 placeholder="nombre de usuario"
                 />

            </div>

        </p-card>
    </div>
</form>
