.boton {
    display: flex;
    justify-content: center; 

}
.title1{
    margin-top: 50px;
    font-size: 15px;
    margin-bottom:50px;
    margin-left: 27%;
}

.login-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    text-align: center; 
}