USE [Form_Cpt]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16/11/2024 1:09:58 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL UNIQUE,
	[User_last_Name] [varchar](50) NOT NULL UNIQUE,
	[User_Phone] [varchar](50) NOT NULL,
	[Manager_Name] [varchar](50) NOT NULL,
	[Manager_Email] [varchar](50) NOT NULL,
	[Fecha_Inicio] [date] NOT NULL,
	[Fecha_Final] [date] NOT NULL,
	[Notas] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [UserName], [Email], [User_last_Name], [User_Phone], [Manager_Name], [Manager_Email], [Fecha_Inicio], [Fecha_Final], [Notas]) VALUES (1, N'alexander', N'alezander.burgossdfd@gmail.com', N'burgos', N'1234567894', N'leo', N'leo@gmail.com', CAST(N'2024-11-18' AS Date), CAST(N'2024-11-27' AS Date), N'nota2')
INSERT [dbo].[Users] ([id], [UserName], [Email], [User_last_Name], [User_Phone], [Manager_Name], [Manager_Email], [Fecha_Inicio], [Fecha_Final], [Notas]) VALUES (3, N'alexander', N'alezander.burgossdfd2@gmail.com', N'burgos2', N'1234567894', N'leo', N'leo@gmail.com', CAST(N'2024-11-18' AS Date), CAST(N'2024-11-27' AS Date), N'nota2')
INSERT [dbo].[Users] ([id], [UserName], [Email], [User_last_Name], [User_Phone], [Manager_Name], [Manager_Email], [Fecha_Inicio], [Fecha_Final], [Notas]) VALUES (4, N'leonel', N'alezander.burgos@gmail.com', N'martinez', N'1234567894', N'alexander', N'dfg@gmail.com', CAST(N'2024-11-13' AS Date), CAST(N'2024-11-28' AS Date), N'hola')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534EAE6E5F0]    Script Date: 16/11/2024 1:09:58 a. m. ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__DC5C1E927323F111]    Script Date: 16/11/2024 1:09:58 a. m. ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[User_last_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
