<div class="p-fluid1">
    <form [formGroup]="managerform" class="containerTotal">
        <br>

        <div class="p-field1">
            <label for="firstName">Nombre del gerente</label>
            <div class="input-container">
                <i class="pi pi-user"></i>
                <input id="firstName" type="text" pInputText formControlName="firstName" />
            </div>
        </div>

        <br><br><br>

        <div class="p-field1">
            <label for="email">Correo Electrónico del gerente</label>
            <div class="input-container">
                <i class="pi pi-envelope"></i>
                <input id="email" type="text" pInputText formControlName="email" />
            </div>
        </div>

    </form>
</div>
