<div class="p-fluid1">

    <form [formGroup]="managerform" class="containerTotal">
        <br>
        <div class="p-field1">
            <label for="firstname">El nombre del gerente </label>
            <div class="input-container">
                <i class="pi pi-envelope"></i>
                <input id="firstName" type="text" pInputText formControlName="firstName"/>
            </div>
            
        </div>
    <br>
        <div class="p-field1">
            <label for="firstname">Correo Electrónico del gerente </label>
            <div class="input-container">
                <i class="pi pi-envelope"></i>
                <input id="firstName" type="text" pInputText formControlName="firstName"/>
            </div>
            
        </div>

    </form>
    
  </div>
  
