<form [formGroup] = "loginform">

    <p-card header="Login" [style]="{width:'360px'}">
        
        <div class="field">
            <input 
            type="Email" 
            pInputText
            formControlName="Email"
            class="w-full"
            name="Email"
            placeholder="Correo Electronico"/>                       
                           
        </div>

        <div class="field">
            <input 
            pInputText
            formControlName="User_Last_Name"
            class="w-full"
            name="User_Last_Name"
            placeholder="Apellido"/>                                  
        </div>
</p-card>
</form>